.outerdiv{
     background-color: red;
     margin-left: 20px;
     margin-right: 20px;
}
.outerdiv h1{
    margin-left: 500px;
    background-color: beige;
    margin-top: 20px;
    display: inline;
    padding-top: 20px;

}

.outerdiv p{
padding-left: 20px;
padding-right: 20px;
text-align:justify;
background-color: blue;
padding-left: 10px;
padding-right: 20px;
margin-left: 20px;
margin-right: 20px;
}

.outerdiv button{
    background-color:beige;
    border: none;
    border-radius: 9px;
    margin-bottom: 50px;
    margin-left: 450px;
    padding: 50px;


}